*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
}
#logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 5px;
    color: red;
    background-image: url("https://www.nescafe.com/in/sites/default/files/2023-04/Product%20Finder_Header.jpeg.jpg");
    background-position: center;
}
#navbar{
    width: 100%;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: capitalize;
}
#navbar ul li{
    list-style-type: none;
}
#navbar a{
    color: black;
    text-decoration: none;

}
.parent{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    padding: 0 10px;
}
#child1{
    width: 20%;
    height: 90%;
    background: #fff;
    box-shadow: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    list-style: none;
}
#child1 ul li{
    padding: 5px 5px;
}

#child2{
    width: 80%;
    height: 100%;
    padding: 20px;
    
}
#child2 #cards{
    height: 50%;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
#cards #img1{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1556742526-795a8eac090e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y29mZmVlfGVufDB8fDB8fHww");
   
}
#cards #img2{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1511920170033-f8396924c348?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y29mZmVlfGVufDB8fDB8fHww");
   
}
#cards #img3{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1522992319-0365e5f11656?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D");
   
}

#form{
    height: 100%;
    width: 100%;
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formChild{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    background: #ffffff;
    padding: 20px;
    align-items: center;
    border-radius: 30px;
    box-shadow: #313131 10px;
}
textarea{
    background: #ededed;

    
    border-radius:9px

}
form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* background: #000; */
    margin-top: 30px;
}

input[type="text"], input[type="email"]{
    background: #ededed;
    
    border: 5px solid #ffffff;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    
}
input:focus{
    background: #e9e9e9;
    /* transition: cubic-bezier(0.19, 1, 0.22, 1); */
    color: rgb(0, 145, 255);
    border: none;
    
}

#submit{
    background: #007eb5;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px
}

footer{
    
    width: 100%;
    height: 10vh;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(235, 235, 235);
}